@using Mostlylucid.Helpers
@model Mostlylucid.Models.Blog.PostListModel

<div class="border-b border-grey-lighter pb-4 mb-4" data-published-date="@Model.PublishedDate.ToString("yyyy-MM-dd")">

    <div class="flex items-start justify-between gap-3 mb-2">
        @if (BlogUrlHelper.IsEnglish(Model.Language))
        {
            <a href="@Url.Action("Show", "Blog", new { slug = Model.Slug })"
               hx-controller="Blog" hx-action="Show" hx-route-slug="@Model.Slug" hx-get hx-target="#contentcontainer" hx-swap="show:window:top" hx-push-url="true"
               class="font-body text-lg font-semibold transition-colors hover:text-green text-blue-dark dark:text-white dark:hover:text-secondary flex-1">@Model.Title</a>
        }
        else
        {
            <a href="@Url.Action("Language", "Blog", new { slug = Model.Slug, language = Model.Language })"
               hx-controller="Blog" hx-action="Language" hx-route-slug="@Model.Slug" hx-route-language="@Model.Language" hx-get hx-target="#contentcontainer" hx-swap="show:window:top" hx-push-url="true"
               class="font-body text-lg font-semibold transition-colors hover:text-green text-blue-dark dark:text-white dark:hover:text-secondary flex-1">@Model.Title</a>
        }
        @if (Model.Languages.Length > 1)
        {
             var languageModel = (Model.Slug, Model.Languages, Model.Language); 
        
        <div class="shrink-0">
                <partial name="_LanguageFlags" model="languageModel"/>
            </div>
        }
    </div>
    <div class="flex flex-wrap gap-1.5 py-2 print:!hidden">
        @foreach (var category in Model.Categories)
        {
            <partial name="_Category" model="category"/>
        }
    </div>
    <div class="block font-body text-black dark:text-white">@Model.Summary</div>
    <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary light:text-black dark:text-white">
            @Model.PublishedDate.ToString("f")
        </p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary light:text-black dark:text-white">
            @Model.ReadingTime
        </p>
    </div>
</div>